<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <h3>Properties Editor</h3>
    </div>

    <ul>
      <li>
        <a routerLink="/upload" class="invisbl-btn link_btn">Upload</a>
      </li>
      <li>
           <span class="dropdown">
             <button class="invisbl-btn">Save as
               <span style="font-size: 11px" class="glyphicon glyphicon-triangle-bottom"></span>
             </button>
             <span class="dropdown-content">
               <a class="links" href="{{baseUrl}}{{savePropertiesUrl}}">.properties</a>
               <a class="links" href="{{baseUrl}}{{saveJsonUrl}}">.JSON</a>
               <a class="links" href="{{baseUrl}}{{saveYamlUrl}}">.YAML</a>
             </span>
           </span>
      </li>
      <li>

        <a class="invisbl-btn link_btn" href="{{baseUrl}}{{downloadLogUlr}}">Download Log</a>

      </li>
    </ul>

  </div>

</nav>




