<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <h3>Properties Editor</h3>
    </div>
    <ul>
      <li>
        <a routerLink="/upload" class="navbar-button link">Upload</a>
      </li>
      <li dropdown class="btn-group">
        <button dropdownToggle type="button" class="navbar-button dropdown-btn dropdown-toggle">Save as
          <span class="caret"></span>
        </button>
        <ul *dropdownMenu class="dropdown-menu" role="menu">
          <li role="menuitem"><a class="dropdown-item" href="{{baseUrl}}{{savePropertiesUrl}}">.properties</a></li>
          <li role="menuitem"><a class="dropdown-item" href="{{baseUrl}}{{saveJsonUrl}}">.JSON</a></li>
          <li role="menuitem"><a class="dropdown-item" href="{{baseUrl}}{{saveYamlUrl}}">.YAML</a></li>
        </ul>
      </li>
      <li>
        <a class="navbar-button link" href="{{baseUrl}}{{downloadLogUlr}}">Download Log</a>
      </li>
    </ul>
  </div>
</nav>











