<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <h3>Properties Editor</h3>
      </div>
      <ul>
        <li><a href="#">Upload</a> </li>
        <li>
           <span class="dropdown"> <a href="#">Save as...</a>
             <span class="dropdown-content">
               <a href="#">.properties</a>
               <a href="#">.JSON</a>
               <a href="#">.YAML</a>
             </span>
           </span>
        </li>
        <li><a href="#">Log</a> </li>
      </ul>

  </div>
</nav>




