.aligner_c{
  text-align: center;
}

[hidden] {
  display: none;
}

.table-hidden{
  width: 100%;
  border-collapse: collapse;

}

.table-hidden, th, td {
  border: 1px solid white;
}

.table{
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  background-color: white;
}


/*Add button*/

.btn-primary{
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background-color: #4ab2c2;
  border-color: #4DC7D7;
  outline: none;
}

.btn-primary:active{
  background:#0197A6;
  outline-color: #0197A6;
}

.btn-primary:hover{
  background: #01afbe;
  ooutline: #01afbe;
  border-color: #01afbe;
}

.btn-primary:focus{
  background:#0197A6;
  outline: #0197A6;
  border-color: #0197A6;
}


/*Table header color*/
.bg-primary{
  background-color: #0197A6;
}



