<div style="margin-left: 15%; margin-right: 15%; margin-top: 20% ">
  <table class="table table-bordered">

    <tr>
      <th>[LOAD] [SAVE] [LOG]</th>
    </tr>
    <tr class="bg-primary">
      <th style="width: 40%">Key</th>
      <th style="width: 40%">Value</th>
      <th style="width: 20%" class="aligner_c">Edit</th>
    </tr>
    <tr *ngFor="let property of propertiesModel; let i = index">
      <td>
        <p [hidden]="propertiesKeyVisibility[i]" (click)="showHideKey(i)">{{property.key}}</p>
        <input id="key-input" [hidden]="inputKeyVisibility[i]" type="text" placeholder="New key..."
               [(ngModel)]="property.key">
      </td>
      <td>
        <p [hidden]="propertiesValueVisibility[i]" (click)="showHideValue(i)">{{property.value}}</p>
        <input id="value-input" [hidden]="inputValueVisibility[i]" type="text" placeholder="New value..."
               [(ngModel)]="property.value">
      </td>
      <td style="text-align: center">
        <button class="btn btn-default" [disabled]="saveButtonDisabling[i]" (click)="endEdition(i)"
                title="Save property">
          <span [class]="saveButtonIcon[i]"></span>
        </button>
        <button class="btn btn-danger" (click)="deleteProperty(i)" title="Delete property">&#10006;</button>
      </td>
    </tr>
    <tr [hidden]="newPropertyVisibility">
      <td><input type="text" placeholder="New key..." [hidden]="newPropertyVisibility" #key></td>
      <td><input type="text" placeholder="New value..." [hidden]="newPropertyVisibility" #value></td>
      <td style="text-align: center">
        <button class="btn btn-default" title="Save new property" (click)="addProperty(key,value)"
                [hidden]="newPropertyVisibility">
          <span class="glyphicon glyphicon-floppy-disk"></span>
        </button>
      </td>
    </tr>
  </table>
  <table>
    <tr>
      <td></td>
      <td></td>
      <td style="text-align: center">
        <button class="btn btn-primary" title="Add new property" (click)="showHideAddNew()"
                [disabled]="!newPropertyVisibility">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </td>
    </tr>
  </table>


</div>

<hr>
<ul>
  <li *ngFor="let item of propertiesModel; let i = index">
    {{i}} {{item.key}} {{item.value}}
  </li>
</ul>



