<div style="background-color: snow">
  Type your name below: <br>
  <input type="text" [(ngModel)]="name"/>
  <p>{{ name }}</p>

  <hr>
  <p>SERVER with ID {{serverId}} is {{serverStatus}}. {{'END'}} </p>
  <p>{{message}} in {{getRoaming()}}</p><br>


  <!--
  <button class="btn btn-primary" disabled>Add Server</button>
  <button class="btn" [disabled]="false">Add Server</button>
  -->
  <button class="btn btn-default" [disabled]="!allowNewServer" (click)="onServerStatusInfo()"> Add Server</button>
  <!--PROPERTY BINDING and CLICK EVENT-->

  <p>{{allowNewServer}}</p> <!-- String Interpolation -->
  <!--<p [innerText]="allowNewServer"></p> --> <!-- String Interpolation -->


  <div style="margin-right: 65%">
    <div class="bg-primary">{{serverInfo}}</div>
  </div>
  <hr>
  <!-- passing and using data with event click -->
  <label>Server Name</label>
<!--<input type="text" class="form-control" (input)="onUpdateServerName($event)">-->
  <input type="text" class="form-control" [(ngModel)]="serverName">
  <button class="btn btn-primary" (click)="onCreateServer()">Add New Server</button>
  <p>{{serverCreateStatus}} {{serverName}}</p>

  <!-- '$event' gives access to event data -->
</div>

