.warning_tab {
  border: 1px solid #b32300;
  background-color: lightcoral;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  font-weight: bold;
  margin-right: 50%;
  margin-left: 1%;


}
